:root{
    --c-black : hsl(0, 0%, 0%);
    --c-white : #ffffff;
    --c-gray-200 : #f4f4f4;
    --c-gray-100 : #cccccc;
    --c-gray : hsla(0, 1%, 37%);
    --c-violet : #7264d5;
    --c-lt-violet :#e4e0fd;
    --c-dark-blue : #000a1a;
}


.c-black { color : var(--c-black) }