@font-face {
    font-family:Mulish;
    src: url("../asset/Font/Mulish-Regular.ttf");
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Mulish;
    
}
::placeholder {
    color:rgb(0, 0, 0); 
    font-family: Mulish;
    font-size: 13px;
    font-weight: 500;
  }
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}
