.app-container{
    height:100vh;
  
}
/*** Navigation Bar ***/
header{
    display:flex;
    justify-content: center;
    padding-top:1.2em;
    padding-bottom: 1.2em;
}

  .nav-bar{
      display: flex;
      align-items: center;
      height:39px;
  }

    /* logo */
    .logo>img{
         height: 100%;
    }

    /* search Box  */
    .search-box{
         height:2.2em;
         display:flex;
         align-items: center;   
         padding:19px 15px;
         margin-left: 5em;
         background-color: #F4F4F4;
         border-radius: 4px;
    }

        .search-container{
         display: flex;
        }

            .menu-dropdown{
               margin-right: 10px;
            }

                .menu-dropdown>span{
                    font-size: 13px;
                    font-weight: 700;      
                }

            .search-bar{
                display: flex;
                width: 28em;
                justify-content: space-between; 
                border-left: 1px black solid;
                padding-left: 10px;
            }

               .search-bar>input{
                   display: inline;
                   border: none;
                   outline: none;
                   background-color: #F4F4F4;   
               }

        /*nav bar Buttons*/
        .nav-buttons{  
        display: flex;
        margin-left: 2.2em;
        gap: 1em;
        align-items: center;
        height: 100%;
        }

        .nav-buttons > div{
            
            display: flex;
            align-items: center;
            font-size: 14px;
        }

            .signin{
                background-color: #F4F4F4;
                color: black;
                padding-left: 1.6em;
                padding-right:1.6em;
                padding-top: 0.8em;
                padding-bottom: 0.8em;
                border-radius: 4px;
                text-decoration: none;
                font-weight: 700;
                
            }

            .signup{
                padding-left: 1.6em;
                padding-right:1.6em;
                padding-top: 0.8em;
                padding-bottom: 0.8em;
                color: white;
                border-radius: 4px;
                background-color: #7264D5;
                text-decoration: none;
                font-weight: 600;
            }
/*** langing page ***/
.landing-page{
    height: 95vh;
    background-color:#E4E0FD;
}
    .banner{
        display: flex;
        justify-content: space-between;
        position: relative;
        top:95px
    }   
        /* Text area */
        .text-part{
            position: relative;
            left:76px;
            top:44px;
            width:33em;
            height: 100%;
        }
            .text-part > .line1{
                font-family: Mulish;
                font-size: 14.5px;
                font-weight:600;
                line-height: 18.75px;
            letter-spacing: 0.44em;
            }
            .text-part > .line2 {
            font-family: Mulish;
            font-size: 22px;
            font-weight: 600;
            line-height: 44px;
            }
                .line2 > span {
                display: block;
                font-family: Mulish;
                font-size: 64px;
                font-weight: 700;
                line-height: 80px;
                }
            .text-part > .line3{
            font-family: Mulish;
            font-size: 12.5px;
            line-height: 21.5px;
            color: #5F5E5E;
            height: 76px;
            margin-top: 13px;
            }
            /* homepage buttons */
            .homepage-buttons{
                margin-top: 40px;
                margin-bottom: 10px;
            }
            .learn-more{
                padding: 12.5px 39px;
                text-decoration: none;
                background-color: #7264D5;
                color: white;
                font-size: 12.5px;
                font-weight: 400;
                border-radius: 4px; 
            }
            .what-they-say{
                margin-left: 26px;
                padding: 11px 26.5px;
                text-decoration: none;
                background-color: #E4E0FD;
                color: black;
                border: 1.3px solid #CCCCCC;
                font-size: 12.5px;
                font-weight: 700;
                border-radius: 4px; 
            }
        /* poster Image */
        .poster-part>img{ 
            position: relative;
            right: 81px;
            width: 330px;
            height: 385px; 
            object-fit:cover;
            border-radius: 16px;
            box-shadow: 6px 6px #7264D5;
        }
        /* blur rectangle */
        .blur-rectangle{
            position: absolute;
            display: inline;
            text-align: center;
            border-radius: 10px;
            padding-top: 16px;
            padding-bottom:16px;
            padding-right: 30px;
            padding-left: 30px;
            left: 753px;
            top: 315px;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
        }
        .blur-rectangle>span{
            font-weight: 700;
            font-size:14px;
        }
/*** our partners ***/

